@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
    transform: scale(100vw);
}


/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
.header {
    width: auto;
    height: 30%;
    background-color: #5b3866;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
    flex-direction: row;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
}

.header-text{
    font-size: medium;
    color: #CCC;
}

.header-text-container {
    padding: 10px;
    transition-duration: 0.2s;
}

.header-text-container:hover{
    background-color: #3d2644;
}
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 

/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
.content-block {
    width: 50%;
    min-width: 300px;
    margin-top: 10px;
}

.content-cards-container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content-card {
    align-items: center;
    width: 25%;
    margin: 5px;
    flex-direction: column;
}
.content-card-content {
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.content-card-image {
    width: 100%;
}

.content-card-name {
    width: 80%;
    font-size: 10px;
    max-height: 26px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: bottom;
    word-break: break-word;
    overflow: hidden;
}

.content-card-price { 
    width: auto;
}

.content-card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.heart {
    --d: 14px;
    width:var(--d);
    height:var(--d);
    background:
        radial-gradient(circle at 50% 83%, #CCC 29%, transparent 0%) calc(-1 * var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        radial-gradient(circle at 50% 83%, #CCC 29%, transparent 0%) calc(var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        linear-gradient(to bottom left, #CCC 43%,transparent 0%) bottom left/50% 50%,
        linear-gradient(to bottom right, #CCC 43%,transparent 0%) bottom right/50% 50%;
        
     
    background-repeat:no-repeat;
    display:inline-block;
    transition: all 0.1s;
  }

.heart:hover {
    --d: 14px;
    width:var(--d);
    height:var(--d);
    background:
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(-1 * var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        linear-gradient(to bottom left, #5b3866 43%,transparent 0%) bottom left/50% 50%,
        linear-gradient(to bottom right, #5b3866 43%,transparent 0%) bottom right/50% 50%;
        
    background-repeat:no-repeat;
    display:inline-block;
    transform: scale(1.2);
  }

.heart-red {
    --d: 14px;
    width:var(--d);
    height:var(--d);
    background:
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(-1 * var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        linear-gradient(to bottom left, #5b3866 43%,transparent 0%) bottom left/50% 50%,
        linear-gradient(to bottom right, #5b3866 43%,transparent 0%) bottom right/50% 50%;
    background-repeat:no-repeat;
    display:inline-block;
    transition: all 0.1s;
  }

.heart-red:hover {
    --d: 14px;
    width:var(--d);
    height:var(--d);
    background:
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(-1 * var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        radial-gradient(circle at 50% 83%, #5b3866 29%, transparent 0%) calc(var(--d)/5) calc(-1 * var(--d)/2)/100% 100%,
        linear-gradient(to bottom left, #5b3866 43%,transparent 0%) bottom left/50% 50%,
        linear-gradient(to bottom right, #5b3866 43%,transparent 0%) bottom right/50% 50%;
    background-repeat:no-repeat;
    display:inline-block;
    transform: scale(1.2);
  }

/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/

.input{
    width: 60%;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
    border-color: #CCC;
}

.button{
    background-color: #5b3866;
    border-style: none;
    width: max-content;
    height: 20%;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: small;
}

.button:hover {
    background-color: #3d2644;
    color: #AAA
}

.alignment-right {
    margin-left: auto;
}

.alignment-center {
    margin-left: auto;
    margin-right: auto;
}