@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
    transform: scale(100vw);
}


/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
.header {
    width: 100%;
    height: 30%;
    background-color: #5b3866;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

.header-text{
    font-size: medium;
    color: #CCC;
}

.header-text-container {
    padding: 10px;
    transition-duration: 0.2s;
}

.header-text-container:hover{
    background-color: #3d2644;
}
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 
/* HEADER HEADER HEADER HEADER HEADER */ 

/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
.content-block {
    width: 50%;
    margin-top: 10px;
}

.content-cards-container {
    display: flex;
    flex-flow: row wrap;
}

.content-card {
    width: max-content;
}
.content-card-content {
    display: flex;
}
/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/
/* CONTENT CONTENT CONTENT CONTENT*/

.input{
    width: 250px;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
}

.button{
    background-color: #5b3866;
    border-style: none;
    width: max-content;
    height: 20%;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: small;
}

.button:hover {
    background-color: #3d2644;
    color: #AAA
}

.alignment-right {
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
}

.alignment-center {
    margin-left: auto;
    margin-right: auto;
}